/* --- pop up ---*/
.popup-bg {
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1px);
    display: none;
}

.popup-bg .popup {
    display: none;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 1000;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    max-height: 90vh;
    box-shadow: 0 0px 15px -9px rgba(0, 0, 0, 0.56),
        0 4px 0px 0px rgba(0, 0, 0, 0), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.popup-bg .popup .popup-head {
    padding: 10px 20px;
    margin: 0;
    background: #f6f7fb;
    border-radius: 10px 10px 0px 0px;
    margin: 0;
    border-bottom: 2px solid #e8e8e8;
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

/* .popup{
    border-radius: 10px;
  } */
.bg-close-btn {
    background-color: #c5161d;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: 1px solid;
    outline-color: #c5161d;
    outline-offset: 0px;
}

.popup-bg .popup .popup-head .popup-close {
    position: absolute;
    right: 20px;
    top: 50%;
    border-radius: 3px;
    transform: translateY(-50%);
    background-color: #c5161d;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
}

.popup-bg .popup .popup-head h4 {
    font-weight: bold;
    color: #4681c3;
    margin: 0;
}

.popup-bg .popup .popup-body {
    /* max-height: 32vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 3rem;
    margin-top: 3rem; */
    max-height: calc(90vh - 4rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3rem 0;
}

.popup-bg .popup .popup-body .form-wrapper .input-field {
    margin-bottom: 1.3rem;
}

.popup-bg .popup .popup-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 1000;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 960px) {
    .popup-bg .popup {
        width: 60% !important;
    }
}

@media (max-width: 640px) {
    .popup-bg .popup {
        width: 90% !important;
    }
}

.sc-feUZmu::-webkit-scrollbar-track,
.popup-body::-webkit-scrollbar-track {
    background-color: #ddd;
}

.sc-feUZmu::-webkit-scrollbar,
.popup-body::-webkit-scrollbar {
    width: 6px;
    background-color: #ddd;
}

.sc-feUZmu::-webkit-scrollbar-thumb,
.popup-body::-webkit-scrollbar-thumb {
    background-color: #4681c3;
}

.sc-feUZmu::-webkit-scrollbar {
    height: 5px;
}

.popup-footer .disable-btn a {
    cursor: inherit !important;
}

.popup-footer .disable-btn:hover {
    background: transparent;
    border: 1px solid transparent;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.popup-footer .disable-btn:hover a {
    color: #ebf8ff !important;
}