.sc-feUZmu::-webkit-scrollbar-track,
.popup-body::-webkit-scrollbar-track {
        background-color: #ddd;
}

.sc-feUZmu::-webkit-scrollbar,
.popup-body::-webkit-scrollbar {
        width: 6px;
        background-color: #ddd;
}

.sc-feUZmu::-webkit-scrollbar-thumb,
.popup-body::-webkit-scrollbar-thumb {
        background-color: var(--primary);
}

.sc-feUZmu::-webkit-scrollbar {
        height: 5px;
}

::-webkit-scrollbar {
        width: 12px;
        background-color: var(--gradient);
}

::-webkit-scrollbar-thumb {
        background-color: #ddd;
}

::-webkit-scrollbar-thumb:hover {
        background-color: #ddd;
}